{% extends "gallery/base.html" %}

{% block content %}
    <div class="row">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url "gallery:gallery-upload" %}">Upload image</a>

            </li>
        </ul>

    </div>
    <h3>Gallery:</h3>
    <ul>
        {% for gallery_item in object_list %}
            <a href="{% url "gallery:gallery-detail" pk=gallery_item.pk %}"><img src="{{ gallery_item.image.url }}"
                                                                                 alt=""
                                                                                 height="100"
                                                                                 width="100"
            ></a>
            <ol>
                {% for tag_item in gallery_item.item_tags.all %}
                    <li>{{ tag_item.tag.name }} - {{ tag_item.confidence }}</li>
                {% endfor %}
            </ol>
        {% endfor %}

    </ul>

{% endblock %}
