{% extends "gallery/base.html" %}

{% block content %}
    <div class="row">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url "gallery:gallery-list" %}">All images</a>

            </li>
            <li>
                <a href="{% url "gallery:gallery-upload" %}">Upload image</a>

            </li>
        </ul>

    </div>
    <h3>
        Image:
    </h3>
    <img src="{{ object.image.url }}" alt=""
         height="100"
         width="100"
    >
    {% for tag_item in object.item_tags.all %}
        <li>{{ tag_item.tag.name }} - {{ tag_item.confidence }}</li>
    {% endfor %}
    <br>
    <div class="well">
        Similar images
    </div>
    <ul>
        {% for similarity, similar_item in similar_items %}
            <a href="{% url "gallery:gallery-detail" pk=similar_item.pk %}"><img src="{{ similar_item.image.url }}"
                                                                                 alt=""
                                                                                 height="100"
                                                                                 width="100"
            ></a>
            {% for tag_item in similar_item.item_tags.all %}
                <li>{{ tag_item.tag.name }} - {{ tag_item.confidence }}</li>
            {% endfor %}
            <strong>Similarity: {{ similarity }}</strong>
            <br>
        {% endfor %}

    </ul>

{% endblock %}
