{% extends "gallery/base.html" %}

{% block content %}
    <div class="row">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url "gallery:gallery-list" %}">List images</a>

            </li>
        </ul>

    </div>
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Email address</label>
            <input type="file" name="{{ form.image.name }}" class="form-control" id="{{ form.image.id_for_label }}"
                   placeholder="Upload file">
        </div>
        <input type="submit" class="btn btn-primary" value="Upload file"/>
    </form>
{% endblock %}